# Домашнее задание 2

Используя датасет [STUDENT ALCOHOL CONSUMPTION](https://archive.ics.uci.edu/ml/datasets/STUDENT+ALCOHOL+CONSUMPTION#) и статью "USING	DATA	MINING	TO	PREDICT	SECONDARY SCHOOL	STUDENT	ALCOHOL	CONSUMPTION" выполните следующие задания:

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Предобработка (Max 2)
- Приведите описание признаков датасета на русском языке с указанием типа данных (0.3 балла)
- Предобработка данных (1.7)
    - Проверьте наличие пропусков. В случае наличия пропусков заполните их медианными значениями (0.4)
    - Подсчитайте количество людей, у которых матери с образованием "0" (0.4)
    - Преобразуйте все номинальные признаки в несколько признаков с бинарным значение (0.4)
    - Используя объект [SelectKBest](http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html#sklearn.feature_selection.SelectKBest) с параметром [f_regression](http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.f_regression.html#sklearn.feature_selection.f_regression)  выберите два признака, которые наиболее сильно связаны с признаком G3 (0.5)

In [6]:
descr = open('data/student.txt')
for i in descr:
    print(i)

# Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:

1 school - student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)

2 sex - student's sex (binary: "F" - female or "M" - male)

3 age - student's age (numeric: from 15 to 22)

4 address - student's home address type (binary: "U" - urban or "R" - rural)

5 famsize - family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)

6 Pstatus - parent's cohabitation status (binary: "T" - living together or "A" - apart)

7 Medu - mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)

8 Fedu - father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)

9 Mjob - mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")

10 Fjob - father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")

11 reason - reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")

12 guardian - student's guardian (nominal: "mother", "father" or "other")

13 traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)

14 studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)

15 failures - number of past class failures (numeric: n if 1<=n<3, else 4)

16 schoolsup - extra educational support (binary: yes or no)

17 famsup - family educational support (binary: yes or no)

18 paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)

19 activities - extra-curricular activities (binary: yes or no)

20 nursery - attended nursery school (binary: yes or no)

21 higher - wants to take higher education (binary: yes or no)

22 internet - Internet access at home (binary: yes or no)

23 romantic - with a romantic relationship (binary: yes or no)

24 famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)

25 freetime - free time after school (numeric: from 1 - very low to 5 - very high)

26 goout - going out with friends (numeric: from 1 - very low to 5 - very high)

27 Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)

28 Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)

29 health - current health status (numeric: from 1 - very bad to 5 - very good)

30 absences - number of school absences (numeric: from 0 to 93)



# these grades are related with the course subject, Math or Portuguese:

31 G1 - first period grade (numeric: from 0 to 20)

31 G2 - second period grade (numeric: from 0 to 20)

32 G3 - final grade (numeric: from 0 to 20, output target)



Additional note: there are several (382) students that belong to both datasets .

These students can be identified by searching for identical attributes

that characterize each student, as shown in the annexed R file.

In [96]:
#data_mat = pd.read_csv('data/student-mat.csv', sep=';')
data_por = pd.read_csv('data/student-por.csv', sep=';')

In [97]:
data_por.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12

In [98]:
data_por.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

In [99]:
data_por[data_por.isnull().any(axis=1)]

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

### No NaNs detected!

In [100]:
data_por[data_por['Medu'] == 0]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
127,GP,F,19,U,GT3,T,0,1,at_home,other,...,3,4,2,1,1,5,0,9,10,11
281,GP,M,16,U,GT3,T,0,2,other,other,...,4,3,2,2,4,5,0,11,12,11
375,GP,F,17,U,LE3,T,0,2,at_home,at_home,...,3,3,3,2,3,2,0,14,14,15
437,MS,F,16,R,GT3,T,0,2,other,other,...,3,2,3,1,2,2,0,12,11,12
493,MS,F,17,U,GT3,T,0,1,other,at_home,...,2,4,4,3,5,5,5,9,9,10
584,MS,F,17,R,GT3,T,0,0,at_home,other,...,4,4,3,1,1,5,0,10,11,11

Binary and Categorial features to transform:
* school - student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)<p></p>

* sex - student's sex (binary: "F" - female or "M" - male)<p></p>

* address - student's home address type (binary: "U" - urban or "R" - rural)<p></p>

* famsize - family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)<p></p>

* Pstatus - parent's cohabitation status (binary: "T" - living together or "A" - apart)<p></p>

* Mjob - mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")<p></p>

* Fjob - father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")<p></p>

* reason - reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")<p></p>

* guardian - student's guardian (nominal: "mother", "father" or "other")<p></p>

* schoolsup - extra educational support (binary: yes or no)<p></p>

* famsup - family educational support (binary: yes or no)<p></p>

* paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)<p></p>

* activities - extra-curricular activities (binary: yes or no)<p></p>

* nursery - attended nursery school (binary: yes or no)<p></p>

* higher - wants to take higher education (binary: yes or no)<p></p>

* internet - Internet access at home (binary: yes or no)<p></p>

* romantic - with a romantic relationship (binary: yes or no)<p></p>

In [101]:
def convert_to_binary(d, strg):
    d[strg] = d[strg].astype('category')
    d[strg] = d[strg].cat.codes
tmp = ['school', 'sex', 'address', 'famsize', 'Pstatus', 'schoolsup', 'famsup', 'paid',
      'activities', 'nursery', 'higher', 'internet', 'romantic']

In [102]:
#[convert_to_binary(data_mat, i) for i in tmp]
[convert_to_binary(data_por, i) for i in tmp]
#data_mat = pd.get_dummies(data_mat, columns=['Mjob', 'Fjob', 'reason', 'guardian'])
data_por = pd.get_dummies(data_por, columns=['Mjob', 'Fjob', 'reason', 'guardian'])

In [103]:
data_por.dtypes

school                int8
sex                   int8
age                  int64
address               int8
famsize               int8
Pstatus               int8
Medu                 int64
Fedu                 int64
traveltime           int64
studytime            int64
failures             int64
schoolsup             int8
famsup                int8
paid                  int8
activities            int8
nursery               int8
higher                int8
internet              int8
romantic              int8
famrel               int64
freetime             int64
goout                int64
Dalc                 int64
Walc                 int64
health               int64
absences             int64
G1                   int64
G2                   int64
G3                   int64
Mjob_at_home         uint8
Mjob_health          uint8
Mjob_other           uint8
Mjob_services        uint8
Mjob_teacher         uint8
Fjob_at_home         uint8
Fjob_health          uint8
Fjob_other           uint8
Fjob_services        uint8
Fjob_teacher         uint8
reason_course        uint8
reason_home          uint8
reason_other         uint8
reason_reputation    uint8
guardian_father      uint8
guardian_mother      uint8
guardian_other       uint8
dtype: object

from sklearn.feature_selection import SelectKBest, f_regression
data_best_por = SelectKBest(f_regression, k=2).fit_transform(data_por, data_por['G3'])
data_best_mat = SelectKBest(f_regression, k=2).fit_transform(data_mat, data_mat['G3'])

In [104]:
from sklearn.feature_selection import SelectKBest, f_regression
data_best = SelectKBest(f_regression, k=2).fit_transform(data_por.drop('G3', axis=1), data_por['G3'])

In [105]:
print(data_best.shape)
data_best[0:3]

(649, 2)

array([[ 0, 11],
       [ 9, 11],
       [12, 13]])

In [21]:
for i in data_por.columns:
    print(i, '-', data_por[i].head(3).values)

school - [0 0 0]
sex - [0 0 0]
age - [18 17 15]
address - [1 1 1]
famsize - [0 0 1]
Pstatus - [0 1 1]
Medu - [4 1 1]
Fedu - [4 1 1]
traveltime - [2 1 1]
studytime - [2 2 2]
failures - [0 0 0]
schoolsup - [1 0 1]
famsup - [0 1 0]
paid - [0 0 0]
activities - [0 0 0]
nursery - [1 0 1]
higher - [1 1 1]
internet - [0 1 1]
romantic - [0 0 0]
famrel - [4 5 4]
freetime - [3 3 3]
goout - [4 3 2]
Dalc - [1 1 2]
Walc - [1 1 3]
health - [3 3 3]
absences - [4 2 6]
G1 - [ 0  9 12]
G2 - [11 11 13]
G3 - [11 11 12]
Mjob_at_home - [1 1 1]
Mjob_health - [0 0 0]
Mjob_other - [0 0 0]
Mjob_services - [0 0 0]
Mjob_teacher - [0 0 0]
Fjob_at_home - [0 0 0]
Fjob_health - [0 0 0]
Fjob_other - [0 1 1]
Fjob_services - [0 0 0]
Fjob_teacher - [1 0 0]
reason_course - [1 1 0]
reason_home - [0 0 0]
reason_other - [0 0 1]
reason_reputation - [0 0 0]
guardian_father - [0 1 0]
guardian_mother - [1 0 1]
guardian_other - [0 0 0]

### SelectKBest выбрал G1 и G2 как лучшие признаки для предсказания G3;
*что в принципе не более чем очевидно*

### Регрессия (Max 4)
Выберите один признак, который наиболее влияет на признак G3 и используя кросс-валидацию (cross-validation) выполните следующее:

- На обучающей выборке обучите объект [RidgeСV](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html#sklearn.linear_model.RidgeCV) для различных alpha (0.2)
- Выберите alpha при котором RidgeCV лучше всего предсказывает значения (0.1)
- Подсчитайте метрику mean absolute error, mean squared error, median absolute error,r2 score(0.2)
<p></p>Max (0.5)
- ------------------------------------
- Создайте объекты [SGDRegressor](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html#sklearn.linear_model.SGDRegressor), используя все возможных варианты аргумента penalty (0.2)
- Обучите все полученных объекты на обучающей выборке (0.1)
- Подсчитайте метрику r2 score для всех объектов (0.2)
<p></p>Max (0.5)
- ------------------------------------
- Создайте объекты с параметрами max_depth = 1,3, 10 [GradientBoostingRegressor](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html#sklearn.ensemble.GradientBoostingRegressor) и для каждого объекта изменяйте количество n_estimators  от 100 до 1000 с шагом 100 (0.2)
- Подсчитайте метрику r2 score для всех объектов (0.1)
- Визуализируйте зависимость R2 oт n_estimators на графике (0.2)
<p></p>Max (0.5)
- -----------------------------------
- Используя все доступные регрессоры в библиотеке sklearn, найдите самый лучший регрессор. (2.5)

# RidgeCV

In [32]:
print(np.corrcoef(data_best[:, 0], data_por['G3'])[1, 0])
print(np.corrcoef(data_best[:, 1], data_por['G3'])[1, 0])

0.826387124789
0.91854800356

Возьмем фичу у которой больше коэффициент корреляции с целевой переменной.

In [22]:
X = data_best[:,1].reshape(-1, 1)
y = data_por['G3']

In [33]:
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import train_test_split
rcv = RidgeCV(alphas=np.logspace(-3, 3, 10))
rcv.fit(X, y)

RidgeCV(alphas=array([  1.00000e-03,   4.64159e-03,   2.15443e-02,   1.00000e-01,
         4.64159e-01,   2.15443e+00,   1.00000e+01,   4.64159e+01,
         2.15443e+02,   1.00000e+03]),
    cv=None, fit_intercept=True, gcv_mode=None, normalize=False,
    scoring=None, store_cv_values=False)

In [35]:
from sklearn.metrics import mean_absolute_error, median_absolute_error, mean_squared_error, r2_score
y_pred = rcv.predict(X)
print('mean absolute error:', mean_absolute_error(y_pred, y))
print('meadian absolute error:', median_absolute_error(y_pred, y))
print('mean squared error:', mean_squared_error(y_pred, y))
print('r2 score:', r2_score(y_pred, y))

mean absolute error: 0.807915445102
meadian absolute error: 0.620137934074
mean squared error: 1.62849553089
r2 score: 0.814642076573

# SGDRegressor

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [39]:
from sklearn.linear_model import SGDRegressor
sgdr1 = SGDRegressor(penalty='none')
sgdr2 = SGDRegressor(penalty='l2')
sgdr3 = SGDRegressor(penalty='l1')
sgdr4 = SGDRegressor(penalty='elasticnet')

In [40]:
sgdr1.fit(X_train, y_train);
sgdr2.fit(X_train, y_train);
sgdr3.fit(X_train, y_train);
sgdr4.fit(X_train, y_train);

In [41]:
X_pred_1 = sgdr1.predict(X)
X_pred_2 = sgdr2.predict(X)
X_pred_3 = sgdr3.predict(X)
X_pred_4 = sgdr4.predict(X)
print('r2 score:', r2_score(X_pred_1, y))
print('r2 score:', r2_score(X_pred_2, y))
print('r2 score:', r2_score(X_pred_3, y))
print('r2 score:', r2_score(X_pred_4, y))

r2 score: 0.814055670774
r2 score: 0.816286062876
r2 score: 0.806994406953
r2 score: 0.813802824449

### Best parameter - penalty=l2

In [44]:
print(mean_squared_error(X_pred_2, y))

1.62927588701

# GradientBoostingRegressor

In [45]:
from sklearn.ensemble import GradientBoostingRegressor

In [50]:
r2_score_1 = np.zeros((11, 1))
r2_score_2 = np.zeros((11, 1))
r2_score_3 = np.zeros((11, 1))
for i in np.arange(100, 1100, 100):
    gbr1 = GradientBoostingRegressor(max_depth=1, n_estimators=i)
    gbr2 = GradientBoostingRegressor(max_depth=3, n_estimators=i)
    gbr3 = GradientBoostingRegressor(max_depth=10, n_estimators=i)
    gbr1.fit(X_train, y_train)
    gbr2.fit(X_train, y_train)
    gbr3.fit(X_train, y_train)
    r2_score_1[i//100] = r2_score(gbr1.predict(X), y)
    r2_score_2[i//100] = r2_score(gbr2.predict(X), y)
    r2_score_3[i//100] = r2_score(gbr3.predict(X), y)

In [53]:
r2_score_maxes = [r2_score_1.max(), r2_score_2.max(), r2_score_3.max()]

In [60]:
print(r2_score_maxes)
print(max(r2_score_maxes))

[0.82262781545799957, 0.82230398714848774, 0.82230398714848729]
0.822627815458

### Best parameter - max_depth=1

### Классификация (Max 4)
- В статье описано использование Random Forest для предсказания важности факторов, влияющих на потребление алкоголя. Повторите эксперимент с использование объекта [RandomForest](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier) и найдите наилучшие параметры. Укажите accuracy для наилучших параметров (0.5)
- Обучите объект [GradientBoostingClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html#sklearn.ensemble.GradientBoostingClassifier)  и найдите для него наилучшие параметры. Укажите accuracy для наилучших параметров (0.5)
- Обучите объект [AdaBoostClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostClassifier.html)  и найдите для него наилучшие параметры. Укажите accuracy для наилучших параметров (0.5)
- Найдите наилучший классификатор. Укажите accuracy для наилучших параметров (2.5)

In [106]:
from sklearn.preprocessing import Binarizer
binzer = Binarizer(threshold=3.0)
y_alc = (data_por['Dalc']*5 + data_por['Walc']*2) / 7
y_alc = binzer.fit_transform(np.asarray(y_alc).reshape(-1, 1)).ravel()
data_por.drop(['Dalc', 'Walc'], axis=1, inplace=True)

**Backward Feature Elimination.**<p></p>
In this technique, at a given iteration, the selected classification algorithm is trained on n input features. Then we remove one input feature at a time and train the same model on n-1 input features n times. The input feature whose removal has produced the smallest increase in the error rate is removed, leaving us with n-1 input features. The classification is then repeated using n-2 features, and so on. Each iteration k produces a model trained on n-k features and an error rate e(k). Selecting the maximum tolerable error rate, we define the smallest number of features necessary to reach that classification performance with the selected machine learning algorithm.

Ограничим отбор признаков 6-ю признаками, иначе он выкинет все лол кек чебурек

In [107]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score 

for j in data_por.columns: 
    bfe_score = {}
    rfc = RandomForestClassifier()
    rfc.fit(data_por, y_alc)
    input_score = accuracy_score(rfc.predict(data_por), y_alc)
    for i in data_por.columns:
        tmp = data_por.drop(i, axis=1)
        rfc.fit(tmp, y_alc)
        bfe_score[i] = accuracy_score(rfc.predict(tmp), y_alc) - input_score 
    this = max(bfe_score)
    print(this)
    data_por.drop(this, axis=1, inplace=True)
    if len(data_por.columns) == 6:
        break

traveltime
studytime
sex
schoolsup
school
romantic
reason_reputation
reason_other
reason_home
reason_course
paid
nursery
internet
higher
health
guardian_other
guardian_mother
guardian_father
goout
freetime
famsup
famsize
famrel
failures
age
address
activities
absences
Pstatus
Mjob_teacher
Mjob_services
Mjob_other
Mjob_health
Mjob_at_home
Medu
G3
G2
G1

In [110]:
print(len(data_por.columns))
data_por.columns

6

Index(['Fedu', 'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher'],
      dtype='object')

In [111]:
rfc = RandomForestClassifier()
rfc.fit(data_por, y_alc)
print(accuracy_score(rfc.predict(data_por), y_alc))

0.898305084746

# Замечания

- В работе следует использовать библиотеку scikit-learn версии 0.18 и scipy версии 0.18.1